<div class="container">
    <h1>ABOUT PAGE</h1>

    <hr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Personal Life
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Paula Ribó González (born 30 April 1990), better known by the stage name Rigoberta Bandini, is a
                    Spanish
                    singer-songwriter, theatre and television actress, voice actress, and playwright from Barcelona.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Beginnings
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Ribó’s multi-departmental professional career started at age seven, when she provided the Iberian
                    Spanish
                    dubbing
                    voice work
                    for the title character of the children animated series Caillou. She continued to work as a voice
                    actress in
                    both
                    Catalan and Castilian for international firms such as Universal and Disney starring in big
                    productions such
                    as
                    Peter Pan
                    and Brave, as well as in film series like The Twilight Saga or The Divergent Series and musical
                    films such
                    as
                    Les
                    Misérables, Sing and Frozen. She also became the regular Spanish-talking voice of Emma Stone, Dakota
                    Fanning
                    and
                    Shailene Woodley.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Studies
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    After graduating Institut del Teatre, she ventured into the music scene in 2011 alongside two
                    college friends
                    with the
                    formation The Mamzelles. They released two studio albums. In parallel to her contribution in film,
                    Ribó
                    created her
                    own theatre production company, directed four plays, started in six, and wrote other four. She also
                    starred
                    in
                    selected Catalan television films and series.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Musical career
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    In 2019, Ribó launched her solo music career under the pseudonym Ribogerta Bandini. Her third
                    single, “In
                    Spain
                    We Call
                    It Soledad”, released in 2020, became viral on Spotify and launched Bandini into stardom. She
                    achieved
                    national
                    recognition in 2022 placing as the runner-up at the Benidorm Fest in the run to represent Spain in
                    the
                    Eurovision Song
                    Contest with the song “Ay Mamá”, which also became her first entry in the Spanish charts.
                </div>
            </div>
        </div>
    </div>

</div>