<div class="containe indexr">
    <h1>Welcome to Rigoberta Bandini Fan Page</h1>

    <a class="btn btn-primary" href="/about" role="button">About Rigoberta</a>
    <a class="btn btn-primary" href="/works" role="button">Works</a>
    <a class="btn btn-primary" href="/photo-gallery" role="button">Photo Gallery</a>
</div>